# dotfiles/.gitconfig

[init]
    defaultBranch = main

[core]
    editor = code --wait

[alias]
    unstage = reset HEAD --

[user]
    name = Austin Rhodes
    email = a18rhodes@gmail.com
    signingkey = ~/.ssh/git_signing.pub

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
  